body {
    overflow-x: hidden;
}
.centered{
    align-content: center;
    text-align: center;
}
.hidden{
    visibility: hidden;
}
.container {
    background-image: url('/RYSZARD/public/images/card.png') ;
    background-size:  60px;
    padding: 3rem;

    position: relative;
    z-index: 100;
}
.background {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    
    z-index: 10;
    background: url('/RYSZARD/public/images/ezn.png');
    background-size: cover;
    filter: blur(8px);
}