body {
    /* background-color: rgba(0,0,0,.05); */
    position: relative;
}
.box {
    
    height: 100vh;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.box::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;

    background: url('/RYSZARD/ui/images/ezn.png');
    background-size: cover;
    filter: blur(8px);
}

.form-group {
    margin: 3em 0;
}
.error {
    color: red;
}
.box {
    margin: 0; 
}
.inner-box {
    z-index: 15;
    padding: 2em 3em;
    margin-bottom: 5em;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0,0,0,.1);
    background-image: url('/RYSZARD/ui/images/card.png') ;
    background-size:  60px;
}
